body {
    background-image: url("large2.jpg");
    text-align: center;
}

#login_div {
    width: 300px;
    margin: auto;
    margin-top: 10%;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 1.0);
}

#switcher_div {
    margin-top: 10px;
    margin-right: 3px;
    text-align: right;
}

.help-block {
    font-size: 10px;
}